@use 'sass:math';
@import '../../assets/global-scss/button';
@mixin distribute-on-circle($nb-items, $circle-size, $item-size) {
  $half-item: math.div($item-size, 2);
  $half-parent: math.div($circle-size, 2);

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -$half-item;
  }

  $angle: math.div(360, 16);
  $rot: -168;
  @for $i from 1 through $nb-items {
    > :nth-of-type(#{$i}) {
      transform: rotate($rot * 1deg) translate($half-parent);
    }
    $rot: ($rot + $angle);
  }
}
.wrapper {
  width: 100%;
  height: calc(100vh - 185px);
  background-image: url('/files/homepage/bg-homepage.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .ingredients {
    @include distribute-on-circle(8, 1140px, 8em);
    width: 100%;
    position: fixed;
    bottom: -2px;

    &__item {
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
